<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
  <head>
    <title > password reset</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  </head>
  <body>
    <p >
      For your  account a password reset was requested, please click on the URL below to reset it:
    </p>
    <p>
      <a th:with="url=(@{|${baseUrl}/account/reset/finish?key=${user.resetKey}|})" th:href="${url}" th:text="${url}">Login link</a>
    </p>
    <p>
      <span >Regards, </span>
      <br />
      <em >Youssef.</em>
    </p>
  </body>
</html>
